[Desktop Entry]
Name=Crypto Currency Price
Name[en_GB]=Crypto Currency Price
Comment=Displays the current price of any cryptocurrency based on user defined sources.
Comment[en_GB]=Displays the current price of any cryptocurrency based on user defined sources.

Icon=crypto128
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Spmdrd
X-KDE-PluginInfo-Email=spmdrd@tutamail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/spmdrd/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.cryptocurrencyprice

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,50
